.Body
  .Post
    .MoreTag
      .Tag
        '# 宮沢賢治'
        %br
        '# ウサギ'
        %br
        '# 青空文庫'
      .More
        … 続きを読む
    .Text
      今は兎《うさぎ》たちは、みんなみじかい茶色の着物《きもの》です。
      野原《のはら》の草はきらきら光り、あちこちの樺《かば》の木は白い花をつけました。
      実《じつ》に野原《のはら》はいいにおいでいっぱいです。
      子兎《こうさぎ》のホモイは、悦《よろこ》んでぴんぴん踊《おど》りながら申《もう》しました。
      「ふん、いいにおいだなあ。うまいぞ、うまいぞ、鈴蘭《すずらん》なんかまるでパリパリだ」
      風が来たので鈴蘭《すずらん》は、葉《は》や花を互《たが》いにぶっつけて、しゃりんしゃりんと鳴りました。
      ホモイはもううれしくて、息《いき》もつかずにぴょんぴょん草の上をかけ出しました。
      それからホモイはちょっと立ちどまって、腕《うで》を組んでほくほくしながら、
      「まるで僕《ぼく》は川の波《なみ》の上で芸当《げいとう》をしているようだぞ」と言《い》いました。
      本当にホモイは、いつか小さな流《なが》れの岸《きし》まで来ておりました。
      そこには冷《つめ》たい水がこぼんこぼんと音をたて、底《そこ》の砂《すな》がピカピカ光っています。
      ホモイはちょっと頭を曲《ま》げて、
      「この川を向《む》こうへ跳《と》び越《こ》えてやろうかな。なあに訳《わけ》ないさ。けれども川の向《む》こう側《がわ》は、どうも草が悪《わる》いからね」とひとりごとを言《い》いました。
      すると不意《ふい》に流《なが》れの上《かみ》の方から、
      「ブルルル、ピイ、ピイ、ピイ、ピイ、ブルルル、ピイ、ピイ、ピイ、ピイ」とけたたましい声がして、うす黒いもじゃもじゃした鳥のような形のものが、ばたばたばたばたもがきながら、流《なが》れて参《まい》りました。
      ホモイは急《いそ》いで岸《きし》にかけよって、じっと待《ま》ちかまえました。
      流《なが》されるのは、たしかにやせたひばりの子供《こども》です。ホモイはいきなり水の中に飛《と》び込《こ》んで、前あしでしっかりそれをつかまえました。
      するとそのひばりの子供《こども》は、いよいよびっくりして、黄色なくちばしを大きくあけて、まるでホモイのお耳もつんぼになるくらい鳴くのです。
      ホモイはあわてて一生けん命《めい》、あとあしで水をけりました。そして、
      「大丈夫《だいじょうぶ》さ、大丈夫《だいじょうぶ》さ」と言《い》いながら、その子の顔を見ますと、ホモイはぎょっとしてあぶなく手をはなしそうになりました。それは顔じゅうしわだらけで、くちばしが大きくて、おまけにどこかとかげに似《に》ているのです。
      けれどもこの強い兎《うさぎ》の子は、決《けっ》してその手をはなしませんでした。怖《おそ》ろしさに口をへの字にしながらも、それをしっかりおさえて、高く水の上にさしあげたのです。
      そして二人は、どんどん流《なが》されました。ホモイは二度ほど波《なみ》をかぶったので、水をよほどのみました。それでもその鳥の子ははなしませんでした。
      するとちょうど、小流《こなが》れの曲《ま》がりかどに、一本の小さな楊《やなぎ》の枝《えだ》が出て、水をピチャピチャたたいておりました。
      ホモイはいきなりその枝《えだ》に、青い皮《かわ》の見えるくらい深《ふか》くかみつきました。そして力いっぱいにひばりの子を岸《きし》の柔《やわ》らかな草の上に投《な》げあげて、自分も一とびにはね上がりました。
      ひばりの子は草の上に倒《たお》れて、目を白くしてガタガタ顫《ふる》えています。
      ホモイも疲《つか》れでよろよろしましたが、無理《むり》にこらえて、楊《やなぎ》の白い花をむしって来て、ひばりの子にかぶせてやりました。ひばりの子は、ありがとうと言《い》うようにその鼠色《ねずみいろ》の顔をあげました。
      ホモイはそれを見るとぞっとして、いきなり跳《と》び退《の》きました。そして声をたてて逃《に》げました。
      その時、空からヒュウと矢《や》のように降《お》りて来たものがあります。ホモイは立ちどまって、ふりかえって見ると、それは母親のひばりでした。母親のひばりは、物《もの》も言《い》えずにぶるぶる顫《ふる》えながら、子供《こども》のひばりを強く強く抱《だ》いてやりました。
    .DataBox
      .Title
        貝の火
      .WriterName
        宮沢賢治
      .Likes
      .Comments
.Footer
  ©︎ KAKETA. From Mika.F
