.Body
  .Post
    .MoreTag
      .Tags
        .Tag
          "# 宮沢賢治"
        .Tag
          "# ウサギ"
        .Tag
          "# 青空文庫"
      .More
        … 続きを読む
    .Main
      .DateBox
        .date
          投稿：2012年10月5日
        .Likes
          = icon('fas', 'heart')
        .Count
          14
        .Comments
          = icon('far', 'comment')
        .Count
          2
      .Text
        今は兎うさぎたちは、みんなみじかい茶色の着物きものです。
        野原のはらの草はきらきら光り、あちこちの樺かばの木は白い花をつけました。
        実じつに野原のはらはいいにおいでいっぱいです。
        子兎こうさぎのホモイは、悦よろこんでぴんぴん踊おどりながら申もうしました。
        「ふん、いいにおいだなあ。うまいぞ、うまいぞ、鈴蘭すずらんなんかまるでパリパリだ」
        風が来たので鈴蘭すずらんは、葉はや花を互たがいにぶっつけて、しゃりんしゃりんと鳴りました。
        ホモイはもううれしくて、息いきもつかずにぴょんぴょん草の上をかけ出しました。
        それからホモイはちょっと立ちどまって、腕うでを組んでほくほくしながら、
        「まるで僕ぼくは川の波なみの上で芸当げいとうをしているようだぞ」と言いいました。
        本当にホモイは、いつか小さな流ながれの岸きしまで来ておりました。
        そこには冷つめたい水がこぼんこぼんと音をたて、底そこの砂すながピカピカ光っています。
        ホモイはちょっと頭を曲まげて、
        「この川を向むこうへ跳とび越こえてやろうかな。なあに訳わけないさ。けれども川の向むこう側がわは、どうも草が悪わるいからね」とひとりごとを言いいました。
        すると不意ふいに流ながれの上かみの方から、
        「ブルルル、ピイ、ピイ、ピイ、ピイ、ブルルル、ピイ、ピイ、ピイ、ピイ」とけたたましい声がして、うす黒いもじゃもじゃした鳥のような形のものが、ばたばたばたばたもがきながら、流ながれて参まいりました。
        ホモイは急いそいで岸きしにかけよって、じっと待まちかまえました。
    .DataBox
      .Title
        貝の火
      .WriterName
        宮沢賢治
    .CatchCopy
      葉や花を互にぶっつけて、しゃりんしゃりんと鳴りました。
  .Post
    .MoreTag
      .Tags
        .Tag
          "# 芥川龍之介"
        .Tag
          "# 蜜柑"
        .Tag
          "# 青空文庫"
      .More
        … 続きを読む
    .Main
      .DateBox
        .date
          投稿：2012年10月5日
        .Likes
          = icon('fas', 'heart')
        .Count
          14
        .Comments
          = icon('far', 'comment')
        .Count
          2
      .Text
        それから幾分か過ぎた後であった。ふと何かに脅おびやかされたような心もちがして、思わずあたりを見まわすと、何時いつの間まにか例の小娘が、向う側から席を私の隣へ移して、頻しきりに窓を開けようとしている。が、重い硝子ガラス戸は中々思うようにあがらないらしい。あの皸ひびだらけの頬は愈いよいよ赤くなって、時々鼻洟はなをすすりこむ音が、小さな息の切れる声と一しょに、せわしなく耳へはいって来る。これは勿論私にも、幾分ながら同情を惹ひくに足るものには相違なかった。しかし汽車が今将まさに隧道の口へさしかかろうとしている事は、暮色の中に枯草ばかり明あかるい両側の山腹が、間近く窓側に迫って来たのでも、すぐに合点がてんの行く事であった。にも関かかわらずこの小娘は、わざわざしめてある窓の戸を下そうとする、――その理由が私には呑のみこめなかった。いや、それが私には、単にこの小娘の気まぐれだとしか考えられなかった。だから私は腹の底に依然として険しい感情を蓄たくわえながら、あの霜焼けの手が硝子戸を擡もたげようとして悪戦苦闘する容子ようすを、まるでそれが永久に成功しない事でも祈るような冷酷な眼で眺ながめていた。すると間もなく凄すさまじい音をはためかせて、汽車が隧道へなだれこむと同時に、小娘の開けようとした硝子戸は、とうとうばたりと下へ落ちた。そうしてその四角な穴の中から、煤すすを溶とかしたようなどす黒い空気が、俄にわかに息苦しい煙になって、濛々もうもうと車内へ漲みなぎり出した。元来咽喉のどを害していた私は、手巾ハンケチを顔に当てる暇さえなく、この煙を満面に浴びせられたおかげで、殆ほとんど息もつけない程咳せきこまなければならなかった。が、小娘は私に頓着とんじゃくする気色けしきも見えず、窓から外へ首をのばして、闇を吹く風に銀杏返しの鬢びんの毛を戦そよがせながら、じっと汽車の進む方向を見やっている。その姿を煤煙と電燈の光との中に眺めた時、もう窓の外が見る見る明くなって、そこから土の匂においや枯草の匂や水の匂が冷ひややかに流れこんで来なかったなら、漸ようやく咳きやんだ私は、この見知らない小娘を頭ごなしに叱りつけてでも、又元の通り窓の戸をしめさせたのに相違なかったのである。
    .DataBox
      .Title
        蜜柑
      .WriterName
        芥川龍之介
    .CatchCopy
      世間は余りに平凡な出来事ばかりで持ち切っていた。
.Footer
  ©︎ KAKETA. From Mika.F
