- if Like.find_by(user_id: current_user.id, post_id: @post.id)
  = link_to(post_like_path(@post, post.id), method: :delete, remote: true, id: :"liked_button") do
    .liked
      = icon('fas', 'heart')
- else
  = link_to(post_likes_path(@post), method: :post, remote: true, id: :"like_button") do
    .like
      = icon('far', 'heart')