.Body
  .Post
    .MoreTag
      .Tags
        .Tag
          "# 宮沢賢治"
        .Tag
          "# ウサギ"
        .Tag
          "# 青空文庫"
      .More
        … 続きを読む
    .Main
      .DateBox
        .date
          投稿:2012年2月1日
        .Likes
          = icon('fas', 'heart')
        .Count
          14
        .Comments
          = icon('far', 'comment')
        .Count
          2
      .Text
        今は兎うさぎたちは、みんなみじかい茶色の着物きものです。
        野原のはらの草はきらきら光り、あちこちの樺かばの木は白い花をつけました。
        実じつに野原のはらはいいにおいでいっぱいです。
        子兎こうさぎのホモイは、悦よろこんでぴんぴん踊おどりながら申もうしました。
        「ふん、いいにおいだなあ。うまいぞ、うまいぞ、鈴蘭すずらんなんかまるでパリパリだ」
        風が来たので鈴蘭すずらんは、葉はや花を互たがいにぶっつけて、しゃりんしゃりんと鳴りました。
        ホモイはもううれしくて、息いきもつかずにぴょんぴょん草の上をかけ出しました。
        それからホモイはちょっと立ちどまって、腕うでを組んでほくほくしながら、
        「まるで僕ぼくは川の波なみの上で芸当げいとうをしているようだぞ」と言いいました。
        本当にホモイは、いつか小さな流ながれの岸きしまで来ておりました。
        そこには冷つめたい水がこぼんこぼんと音をたて、底そこの砂すながピカピカ光っています。
        ホモイはちょっと頭を曲まげて、
        「この川を向むこうへ跳とび越こえてやろうかな。なあに訳わけないさ。けれども川の向むこう側がわは、どうも草が悪わるいからね」とひとりごとを言いいました。
        すると不意ふいに流ながれの上かみの方から、
        「ブルルル、ピイ、ピイ、ピイ、ピイ、ブルルル、ピイ、ピイ、ピイ、ピイ」とけたたましい声がして、うす黒いもじゃもじゃした鳥のような形のものが、ばたばたばたばたもがきながら、流ながれて参まいりました。
        ホモイは急いそいで岸きしにかけよって、じっと待まちかまえました。
        流ながされるのは、たしかにやせたひばりの子供こどもです。ホモイはいきなり水の中に飛とび込こんで、前あしでしっかりそれをつかまえました。
        するとそのひばりの子供こどもは、いよいよびっくり
    .DataBox
      .Title
        貝の火
      .WriterName
        宮沢賢治
    .CatchCopy
      葉や花を互にぶっつけて、しゃりんしゃりんと鳴りました。
.Footer
  ©︎ KAKETA. From Mika.F
