* {
  box-sizing: border-box;
}

.wrapper {

  .Header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100vw;
    background-color: red;

    .SiteTitle {
      height: 40px;
      width: 80px;
      background-color: blue;

      .Contents {
        height: 40px;
        width: 200px;
        background-color: brown;

        &__content {
          height: 20px;
          width: 40px;
          background-color: chartreuse;

          &__user {
            background-color: coral;
          }
        }
      }
    } 
  }
}