* {
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  width: 100vw;

  .Header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100vw;
    padding: 5px 40px;
    background-color:rgba(0,0,0,0);

    .TitleSearch {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 40px;
      width: 300px;

      .SiteTitle {
        height: 40px;
        width: 200px;
        font-family: 'Caveat', cursive;
        font-size: 40px;
        line-height: 40px;
      }

      .SearchBox {
        height: 25px;
        width: 180px;
        //background-color: yellow;
      }
    }

    .Contents {
      display: flex;
      align-items: center;
      height: 40px;
      list-style: none;

      .content {
        margin-left: 40px;
        font-family: 'Caveat', cursive;
        font-family: 'Jura', sans-serif;
      }

      .user {
        margin-left: 40px;
        color: #dc143c;
        font-family: 'Caveat', cursive;
        font-family: 'Jura', sans-serif;
      }
    } 
  }

  .Body {
    height: calc(100vh - 85px);
    width: 100vw;
    //background-color: darkgray;
    overflow: scroll;
    padding: 50px 0 0 0;

    .Post {
      display: flex;
      justify-content: center;
      height: 580px;
      width: 1200px;
      background-color: white;
      margin: 0 auto;
      padding: 0 0 80px 0;

      .MoreTag {
        display: flex;
        justify-content: center;
        .Tags {
          height: 300px;
          width: 130px;
          margin-right: 20px;
          font-size: 13px;
          //background-color: yellow;
          font-family: 'Kosugi Maru', sans-serif;
          line-height: 25px;
          .Tag {
            height: 17px;
            margin-bottom: 5px;
            padding: 2px;
            color: lightgrey;
            text-align: center;
            line-height: 17px;
          }
        }
        .More {
          height: 300px;
          width: 30px;
          margin-right: 10px;
          -webkit-writing-mode: vertical-rl;
          -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
          font-family: 'Caveat', cursive;
          font-family: 'Jura', sans-serif;
          font-family: 'Noto Serif JP', serif;
          //background-color: yellowgreen;
      
        }
      }

      .Text {
        height: 470px;
        width: 848px;
        font-size: 17px;
        -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
        overflow: hidden;
        font-family: 'Caveat', cursive;
        font-family: 'Jura', sans-serif;
        font-family: 'Noto Serif JP', serif;
        //background-color: teal;
        line-height: 40px;
      }

      .DataBox {
        height: 500px;
        width: 50px;
        margin-left: 40px;
        //background-color: thistle;
        .Title {
          height: 150px;
          width: 50px;
          margin-left: auto;
          margin-right: auto;
          -webkit-writing-mode: vertical-rl;
          -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
          font-family: 'Caveat', cursive;
          font-family: 'Jura', sans-serif;
          font-family: 'Noto Serif JP', serif;
          font-size: 30px;
          line-height: 50px;
          //background-color: tomato;
      
        }
        .WriterName {
          height: 150px;
          width: 40px;
          margin-top: 20px;
          margin-left: auto;
          margin-right: auto;
          -webkit-writing-mode: vertical-rl;
          -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
          font-family: 'Caveat', cursive;
          font-family: 'Jura', sans-serif;
          font-family: 'Noto Serif JP', serif;
          line-height: 40px;
          font-size: 20px;
          //background-color: wheat;
        }
        .Likes {
          height: 30px;
          width: 30px;
          margin-top: 10px;
          margin-left: auto;
          margin-right: auto;
          //background-color: tan;
          text-align: center;
          line-height: 30px;
          font-size: 25px;
          color: red;
        }
 
        .Comments {
          height: 30px;
          width: 30px;
          margin-top: 5px;
          margin-left: auto;
          margin-right: auto;
          //background-color: skyblue;
          text-align: center;
          line-height: 30px;
          font-size: 25px;
        }
      }
    }
  }

  .Footer {
    height: 35px;
    width: 100vw;
    //background-color: lightskyblue;
    text-align: center;
    line-height: 35px;
    font-family: 'Caveat', cursive;
    font-family: 'Jura', sans-serif;
  }
}