.AccountPage {
  width: 650px;
  margin: 60px auto;
  padding: 60px;
  background-color: #fff;
  position: relative;
  $bar-style: solid; 
  $bar-size: 2px;
  $bar-color: #000000;
  
  &::before, &::after {
    content:'';
    width: 30px;
    height: 30px;
    position: absolute;
  }
  &::before {
    border-left: $bar-style $bar-size $bar-color;
    border-top: $bar-style $bar-size $bar-color;
    top: 0;
    left: 0;
  }
  &::after {
    border-right: $bar-style $bar-size $bar-color;
    border-bottom: $bar-style $bar-size $bar-color;
    bottom: 0;
    right: 0;
  }
}
.AccountPage__title {
  width: 50%;
  font-size: 14px;
  font-weight: 200;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
  text-align: center;

  h2 {
    margin-bottom: 10px;
    letter-spacing: 3px;
    font-size: 60px;
    font-family: 'Caveat', cursive;
  }

  .Button {
    margin-top: 30px;
    color: #fff;
    background-color: #ccc;
    margin-left: auto;
    margin-right: auto;
  }
}

.AccountPage__form {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.FormField {
  margin-bottom: 10px;
  &__label--normal {
    padding: 10px 0;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 200;
    i {
      font-size: 11px;
    }
    .field_with_errors {
      display: inline-block;
      color: #d65f4c;
      font-weight: 400;
    }
  }
  &__input--normal {
    input {
      box-sizing: border-box;
      width: 100%;
      padding: 10px;
      letter-spacing: 1px;
    }
    .field_with_errors {
      position: relative;

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 5px;
        background-color: #d65f4c;
      }
    }
  }
}

.Button {
  display: inline-block;
  height: 50px;
  padding: 0 30px;
  line-height: 50px;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  border-radius: 2px;
  text-decoration: none;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.actions {
  display: flex;
  align-items: center;

  .UserButton {
    margin-top: 30px;
    color: #fff;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
  }
}
#error_explanation {
  margin: 20px 0;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 2px;

  h2 {
    margin-bottom: 10px;
    color: #d65f4c;
    font-size: 14px;
  }

  ul {
    margin: 0;
    padding-left: 17px;
    list-style: square;
  }

  li {
    margin: 0;
    padding: 0;
    font-size: 13px;
  }
}

.Footer {
  height: 35px;
  width: 100vw;
  //background-color: lightskyblue;
  text-align: center;
  line-height: 35px;
  font-family: 'Caveat', cursive;
  font-family: 'Jura', sans-serif;
}