.AccountPage {
  display: flex;
  align-items: center;
  background-image: url("images/typewriter.jpg");

  .AccountPageField {
    height: 500px;
    width: 400px;
    background-color: rgba(219,219,219,0.5);
    margin: 0 auto;

    .AccountPageField__Title {
      
      .h1 {
        font-family:'southpawregular';
      }
    }

    .AccountPageField__contents
  }
}